*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
  align-items: center; /* Вертикальное*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column; /* Элементы выстраиваются в столбец */

  justify-content: flex-end; /* Элементы начинаются с верхней части контейнера 
 /* align-items: flex-end; /* Дочерние элементы прижимаются к нижней части контейнера */
}

.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  max-height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  gap: 40px;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow-y: auto;
  
  
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2px;
}

.content__video-card-thumbnail {
  /*max-width: 194px; */
  max-height: 103px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__list-item {
  width: 100%;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active{
  background-color: #545050;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 5px;
}

.search-form__fieldset {
  padding-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: 1px solid 1px;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center; /* Центрирование по вертикальной оси */
  justify-content: start;
  cursor: pointer;
  gap: 5px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

button {
  background-color: transparent;
  color: #fff;
  height: 34px;
  border-style: solid;
  border: 1px solid currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  background-color: transparent;
}
li:has(button){
  width: 100%; /* Кнопка занимает всю ширину li */
}
.more-button {
  width: 100%;
}
